.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

app/app.iml

com.ivigilate.android.library/com.ivigilate.android.library.iml
com.ivigilate.android.library/com.ivigilate.android.library.iml.orig
com.ivigilate.android.library/com.ivigilate.android.library.iml
com.ivigilate.android.library/com.ivigilate.android.library.iml
com.ivigilate.android.library/com.ivigilate.android.library.iml
.idea/misc.xml
app/app.iml
