<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ivigilate.android.library">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" /><!-- IMEI -->

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/><!-- GPS -->

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />

    <application>
        <receiver android:name=".IVigilateServiceController"
            android:exported="false">
            <intent-filter >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" android:path="com.ivigilate.android.library"/>
            </intent-filter>
        </receiver>

        <service android:enabled="true"
            android:exported="false"
            android:isolatedProcess="false"
            android:name=".IVigilateService" />
    </application>

</manifest>
